name: Test and Lint

on:
  push:
    branches-ignore: [ release ]
  pull_request:
    branches: [ master ]

jobs:
  tests:
    name: Tests

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - name: Collect Workflow Telemetry
      uses: runforesight/foresight-workflow-kit-action@v1
      if: success() || failure()
      with:
        api_key: ${{ secrets.foresight_api_key }}

    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm install
    - run: npm run test

    - name: Analyze Test and/or Coverage Results
      uses: runforesight/foresight-test-kit-action@v1
      if: success() || failure()
      with:
        api_key: ${{ secrets.foresight_api_key }}
        test_format: JUNIT
        test_framework: JEST
        test_path: ./junit.xml
        coverage_format: JACOCO/XML
        coverage_path: ./coverage

  lint:
    name: Lint

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm install
    - run: npm run lint
